openapi: 3.0.3
info:
  title: Portfolio Insights Service API
  version: 1.0.0
  description: Frontier analytics, scenarios, and compliance reporting APIs.
servers:
  - url: https://api.indexfrontier.com/insights
security:
  - bearerAuth: []
paths:
  /insights/frontiers/latest:
    get:
      operationId: getLatestFrontierInsight
      summary: Get latest frontier summary
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - in: query
          name: constraintSetId
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Latest frontier insight
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontierInsight'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /insights/frontiers/{frontierId}/curve:
    get:
      operationId: getFrontierCurve
      summary: Get frontier curve points
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - $ref: '#/components/parameters/FrontierId'
      responses:
        '200':
          description: Frontier curve
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontierCurve'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /insights/allocations:
    get:
      operationId: getAllocations
      summary: Get recommended allocations
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - in: query
          name: objective
          schema:
            type: string
            enum: [max_sharpe, min_variance, target_return]
        - in: query
          name: asOf
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Allocation breakdown
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllocationInsight'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /insights/scenarios:
    post:
      operationId: runScenario
      summary: Execute scenario analysis
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScenarioRequest'
      responses:
        '202':
          description: Scenario accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScenarioAccepted'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /insights/compliance:
    get:
      operationId: getCompliance
      summary: Get compliance drift status
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
      responses:
        '200':
          description: Compliance insight
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceInsight'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /stream/token:
    get:
      operationId: getStreamToken
      summary: Obtain WebSocket stream token
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
      responses:
        '200':
          description: Stream token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamToken'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    TenantHeader:
      in: header
      name: X-Tenant-Id
      required: true
      schema:
        type: string
        format: uuid
      description: Tenant context identifier.
    FrontierId:
      in: path
      name: frontierId
      required: true
      schema:
        type: string
        format: uuid
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Conflict:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    UnprocessableEntity:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationErrorResponse'
  schemas:
    FrontierInsight:
      type: object
      required: [frontierId, asOf, sharpeRatio, volatility, weights]
      properties:
        frontierId:
          type: string
          format: uuid
        asOf:
          type: string
          format: date-time
        objective:
          type: string
        sharpeRatio:
          type: number
          format: float
        expectedReturn:
          type: number
          format: float
        volatility:
          type: number
          format: float
        weights:
          type: array
          items:
            type: object
            required: [symbol, weight]
            properties:
              symbol:
                type: string
              weight:
                type: number
                format: float
    FrontierCurve:
      type: object
      required: [frontierId, points]
      properties:
        frontierId:
          type: string
          format: uuid
        points:
          type: array
          items:
            type: object
            required: [risk, expectedReturn, allocationSummary]
            properties:
              risk:
                type: number
                format: float
              expectedReturn:
                type: number
                format: float
              allocationSummary:
                type: array
                items:
                  type: object
                  required: [symbol, weight]
                  properties:
                    symbol:
                      type: string
                    weight:
                      type: number
                      format: float
    AllocationInsight:
      type: object
      required: [asOf, allocations, sectorBreakdown]
      properties:
        asOf:
          type: string
          format: date-time
        objective:
          type: string
        allocations:
          type: array
          items:
            type: object
            required: [symbol, weight, marginalRisk]
            properties:
              symbol:
                type: string
              weight:
                type: number
                format: float
              marginalRisk:
                type: number
                format: float
        sectorBreakdown:
          type: array
          items:
            type: object
            required: [sector, weight]
            properties:
              sector:
                type: string
              weight:
                type: number
                format: float
    ScenarioRequest:
      type: object
      required: [scenarioType, frontierId]
      properties:
        scenarioType:
          type: string
          enum: [rate_shock, vol_spike, custom]
        frontierId:
          type: string
          format: uuid
        parameters:
          type: object
          additionalProperties:
            type: number
    ScenarioAccepted:
      type: object
      required: [scenarioId, status]
      properties:
        scenarioId:
          type: string
          format: uuid
        status:
          type: string
          enum: [queued]
    ComplianceInsight:
      type: object
      required: [asOf, driftScore, violations]
      properties:
        asOf:
          type: string
          format: date-time
        driftScore:
          type: number
          format: float
        violations:
          type: array
          items:
            type: object
            required: [code, severity, message]
            properties:
              code:
                type: string
              severity:
                type: string
                enum: [low, medium, high]
              message:
                type: string
    StreamToken:
      type: object
      required: [token, expiresAt]
      properties:
        token:
          type: string
        expiresAt:
          type: string
          format: date-time
    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
        correlationId:
          type: string
          format: uuid
    ValidationErrorResponse:
      allOf:
        - $ref: '#/components/schemas/ErrorResponse'
        - type: object
          properties:
            details:
              type: array
              items:
                type: object
                required: [field, message]
                properties:
                  field:
                    type: string
                  message:
                    type: string
